<div my-loading-spinner="viewLoading">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                claudia / <b>campaigns</b>
                <button type="button" class="btn btn-default pull-right" ui-sref="campaigns_new">
                    <i class="octicon octicon-plus"></i>
                    New Campaign
                </button>
            </h3>
        </div>
    </div>

    <div class="container page-content">

        <div class="col-lg-10">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="octicon octicon-rocket fa-fw"></i> Active Campaigns
                </div>
                <div class="list-group">

                    <a ng-repeat="campaign in model.campaigns" ui-sref="campaigns_detail({ cid : campaign.id })"
                       class="list-group-item">
                        <div class="progress-wrapper">
                            <div class="progress-label">
                                {{ campaign.name }}
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="octicon octicon-rocket fa-fw"></i> Inactive Campaigns
                </div>
                <div class="list-group">

                    <a ng-repeat="campaign in model.campaigns" ui-sref="campaigns_detail({ cid : campaign.id })"
                       class="list-group-item">
                        <div class="progress-wrapper">
                            <div class="progress-label">
                                {{ campaign.name }}
                            </div>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>


        </div>


    </div>
</div>