<div my-loading-spinner="viewLoading">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                claudia / campaigns / <b>{{ model.campaign.name }}</b>
                <button type="button" class="btn btn-default pull-right" ui-sref="agents_new({ cid : model.campaign.id })">
                    <i class="octicon octicon-plus fa-fw"></i>
                    New Agent
                </button>
                <button type="button" class="btn btn-default pull-right">
                    <i class="fa fa-pencil fa-fw"></i>
                    Edit
                </button>
            </h3>
        </div>
    </div>

    <div class="container page-content">

        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-shield fa-fw"></i> Campaign Health
                </div>
                <div>
                    <br>
                    <angularchart
                            dataset="dataset"
                            options="options">
                    </angularchart>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-question fa-fw"></i> Description
                    </div>
                    <div class="panel-body">
                        {{ model.campaign.description }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <i class="fa fa-briefcase fa-fw"></i> Agents
                    </div>
                    <div class="list-group">
                        <a ng-repeat="agent in model.agents" ui-sref="agents_detail({ aid : agent.id })"
                           class="list-group-item">{{ agent.name }} <i class="fa fa-level-up pull-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

