<div flow-init
     flow-files-submitted="$flow.upload()""
     flow-file-success="success($file, $message)">

    <div class="modal-header">
        <h3 class="modal-title">New Advert</h3>
    </div>
    <div class="modal-body">
        <span type="button" class="btn btn-default" flow-btn>Browse</span>
        <img src="{{ model.advert }}">
    </div>

    <div class="modal-footer">
        <span type="button" class="btn btn-success" ng-disabled="!uploaded" ng-click="add()">Add</span>
    </div>
</div>