<div my-loading-spinner="viewLoading">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">
                claudia / <b>wallet</b>

                <div class="btn-group pull-right" role="group">
                    <button type="button" class="btn btn-default">
                        <i class="octicon octicon-plus"></i>
                        Change Password
                    </button>
                    <button type="button" class="btn btn-default">
                        <i class="fa fa-minus"></i>
                        Settings
                    </button>

                </div>

            </h3>
        </div>
    </div>

    <div class="container page-content">


        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-shield fa-fw"></i> Account View
                </div>
                <div class="panel-body">
                    <p>Email: {{ model.profile.email }}</p>
                    <p>Name: admin</p>
                </div>

            </div>
        </div>



    </div>
</div>