<div my-loading-spinner="viewLoading">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center"> Wallet</h2>
        </div>
    </div>

    <div class="row">
        <br>
        <div class="col-lg-8">
            <table class="table table-striped">
                <tr>
                    <td><b>Wallet address</b></td>
                    <td>{{ model.wallet.address }}</td>
                </tr>
                <tr>
                    <td><b>Balance</b></td>
                    <td>{{ model.wallet.balance }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>